/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 5fr;
}

.header {
	grid-column: 2 / 5;
	grid-row: 1;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 50px 1fr;
	padding: 10px;
}

.header-top-right {
	grid-column: 2;
	grid-row: 1;
}

.header-bottom {
	grid-column: 1;
	grid-row: 2;
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-template-rows: 1fr 1fr;
}

.header-bottom-left {
	grid-column: 1;
	grid-row: 2;
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-template-rows: 50px 50px;
}

.header-bottom-left >img {
	grid-column: 1;
	grid-row: 1 / 3;
	align-self: center;
}

.header-bottom-left > h4, .header-bottom-left > h1  {
	grid-column: 2;
	margin-left: 40px;
}

.header-bottom-left > h4 {
	grid-row: 1;
	align-self: end; 
}

.header-bottom-left > h1  {
	grid-row: 2;
	margin-top: 5px;
}

.header-button {
	grid-column: 2;
	grid-row: 2;
	grid-template-columns: 50px 1fr;
}

.middle {
	grid-column: 2 / 5;
	grid-row: 2 / 6;
	display: grid;
	grid-template-columns: 1.25fr 1.25fr 1fr;
	grid-template-rows: repeat(7 1fr);
	gap: 30px;
	background-color: #ccfbf1;
	padding: 30px;
	box-shadow: inset 0 2em 3em -3em rgba(0, 0, 0, 0.3);
}

.sidebar {
	grid-column: 1;
	grid-row: 1 / 6;
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-template-rows: 80px 250px auto;
	background-color: #14b8a6;
	padding: 10px;
}

h1 {
	font-family: Raleway, sansserif;
    font-size: 25px;
	grid-column: 2;
	grid-row: 1;
}

.sidebar >h1{
	padding: 20px 0px 0px 10px;
}

h2 {
	font-family: Raleway, sansserif;
    font-size: 19px;
}

h3 {
	font-family: Raleway, sansserif;
    font-size: 17px;
}

h4 {
	font-family: Raleway, sansserif;
    font-size: 15px;
}

p {
	font-family: Raleway, sansserif;
    font-size: 13px;
	line-height: 1.2rem;
}

ul {
	padding: 10px;
}

li {
	font-family: Raleway, sansserif;
    font-size: 20px;
	color: white;
}

.list-top {
	grid-column: 2;
	grid-row: 2;
	margin-top: 20px;
}

.list-bottom {
	grid-column: 2;
	grid-row: 3;
	margin-top: 20px;
}

.list-top-icons {
	grid-column: 1;
	grid-row: 2;
	margin-top: 20px;
}

.list-bottom-icons {
	grid-column: 1;
	grid-row: 3;
	margin-top: 20px;
}

.list-top-icons >li, .list-bottom-icons>li {
	padding-bottom: 7px;
}

.list-top >li, .list-bottom >li {
	padding-bottom: 10px;
}

input {
	grid-column: 1;
	grid-row: 1;
}

.button {
    background-color:#14b8a6;
    border-radius:7px;
    border:1px solid #14b8a6;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Raleway, sansserif;
    font-size:14px;
    padding:6px 11px;
    text-decoration:none;
    text-shadow:0px 1px 0px #14b8a6;
    height: fit-content;
    width: fit-content;
}
.button:hover {
    background-color:#14b8a6;
}
.button:active {
    position:relative;
    top:1px;
}

.announcements {
	grid-column: 3;
}

.announcements-box {
	grid-row: 2 / 5;
	grid-column: 3;
	display: grid;
	padding: 20px;
	background-color: white;
	border-radius: 0.5rem;
	border-left: 5px solid burlywood;
	box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.3)
}

.announcements-box > p{
	margin: 7px 0px 30px 0px;
}

hr {
	color: black;
	width: 100%;
	margin-bottom: 20px;
	margin-top: -10px;
}

.boxes {
	grid-row: span 2;
	padding: 20px;
	background-color: white;
	border-radius: 0.5rem;
	border-left: 5px solid burlywood;
	display: grid;
	box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.3)
}

.box-icons {
	display: grid;
	grid-template-columns: 3fr;
	column-gap: 10px;
	align-items: end;
	justify-items: end;
}

.box-icon-one {
	grid-column: 1;
}

.box-icon-two {
	grid-column: 2;
}

.box-icon-three {
	grid-column: 3;
}

.trending {
	grid-row: 5;
	grid-column: 3;
}

.trending-box {
	grid-row: 6 / 8;
	grid-column: 3;
	display: grid;
	grid-template-columns: 50px 1fr;
	padding: 20px;
	background-color: white;
	border-radius: 0.5rem;
	border-left: 5px solid burlywood;
	box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.3);
}

.trending-box > p{
	grid-column: 2;
	margin: -10px 0px 20px 0px;
}